#header
{
	padding: 5px;
	background-color: black;    
	color: white;
	height: 80px;
}

#logo 
{ 
	float: left;  
	margin-left:40px;
	margin-top:10px;
}

#barre h1
{
	font-family: 'Great Vibes', cursive;
	float: left;
	color: #3495DE;
	margin-left:27%;
	font-size:40px;
}

#logopanier
{ 
	float: left; 
	margin-left: 347px;
	margin-top: 13px;
}

#logoCompte ul li
{ 
	float: left; 
	margin-left: 1125px;
	margin-top: 1px;
	position: absolute;
	list-style: none;
}

#pann
{
	float: left;
	font-family: Calibri;
	font-size: 17px;
	margin-left: 330px;
	margin-top: 1px;
	color:#3495DE;
}

#conn
{
	float: left;
	font-family: Calibri;
	font-size: 17px;
	margin-left: 20px;
	margin-top: 1px;
	color:#3495DE;
}


#menu
{
	background-color: #3495DE;
	height: 35px;
}

#cat
{
	margin-left: 30px;
	margin-top: 5px;
}

h1
{
	font-family: 'Great Vibes', cursive;
}

#titre
{
	margin-left:40%;
	font-size:50px;
	color: #3495DE;
}

#infos_details1
{
	margin-top: 80px;
	float : left;
	margin-left: 50px;
	margin-right: 30px;
}

#infos_details2
{
	margin-top: 80px;
	float : left;
	margin-left: 30px;
	margin-right: 30px;
}

#infos_details3
{
	margin-top: 80px;
	float : left;
	margin-left: 30px;
	margin-right: 30px;
}

#infos_details4
{
	margin-top: 50px;
	float : left;
	margin-left: 30px;
	margin-right: 30px;
}

#infos td
{
	font-family: 'Yantramanav', sans-serif;
	font-size: 17pt;
	margin : 30%;
}

#infos #description
{
	float : left;
	margin-top: 30px;
	height: 100px;
	width : 400px;
}

#cadre #img_article
{
	float : left;
	margin-left: 4%;
	margin-right: 8%;
	margin-top: 9px;
}

#cadre 
{
	margin-top: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	border : solid;
	border-color: #3495DE;
	height: 400px;
}

#infos #article_ok
{
	margin-left: 400px;
	margin-top: 50px;
}

#footer
{
	margin-top:30px;
	background-color: black;
	color: #3495DE;
	height:200px;
}

p 
{
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
}

a
{
	color: #3495DE;
}

#col1, #col2, #col3, #col4
{	
	float: left;
	margin-right: 80px;
	margin-left: 80px;
	font-family: 'Yantramanav', sans-serif;
}

#ligne
{
	float: right;
	margin-left: 20px;
	font-size: 12pt;
	font-family: 'Yantramanav', sans-serif;
	margin-top: 110px;
}