#infos td
{
	font-family: 'Yantramanav', sans-serif;
	font-size: 17pt;
	margin : 30%;
}

#infos #description
{
	float : left;
	margin-top: 70px;
	height: 100px;
	width : 400px;
}

#cadre #img_article
{
	float : left;
	margin-left: 7%;
	margin-right: 10%;
}

#cadre 
{
	
	margin-top: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	border : solid;
	border-color: #3495DE;
}

#infos #article_ok
{
	margin-left: 400px;
	margin-top: 50px;
}

#header
{
	padding: 5px;
	background-color: black;    
	color: white;
	height: 80px;
}

#logo 
{ 
	float: left;  
	margin-left:40px;
	margin-top:10px;
}

#barre h1
{
	font-family: 'Great Vibes', cursive;
	float: left;
	color: #3495DE;
	margin-left:27%;
	font-size:40px;
}

#logoCompte
{ 
	float: left; 
	margin-left: 500px;
	margin-top: 20px;
}


#menu
{
	background-color: #3495DE;
	height: 35px;
}

#cat
{
	margin-left: 30px;
	margin-top: 5px;
}


h1
{
	font-family: 'Great Vibes', cursive;
}

#titre
{
	margin-left:40%;
	font-size:50px;
	color: #3495DE;
}





#footer
{
	margin-top:30px;
	background-color: black;
	color: #3495DE;
	height:200px;
}

p 
{
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
}

a
{
	color: #3495DE;
}

#col1, #col2, #col3, #col4
{	
	float: left;
	margin-right: 80px;
	margin-left: 80px;
	font-family: 'Yantramanav', sans-serif;
}

#ligne
{
	float: right;
	margin-left: 20px;
	font-size: 12pt;
	font-family: 'Yantramanav', sans-serif;
	margin-top: 110px;
}