#header
{
	padding: 5px;
	background-color: black;    
	color: white;
	height: 80px;
}

#logo 
{ 
	float: left;  
	margin-left:40px;
	margin-top:10px;
}

#barre
{
	float: left;
	margin-left:270px;
	margin-top:15px;
}

#logopanier
{ 
	float: left; 
	margin-left: 260px;
	margin-top: 13px;
}

#logoCompte ul li
{ 
	float: left; 
	margin-left: 1125px;
	margin-top: 1px;
	position: absolute;
	list-style: none;
}

#pann
{
	float: left;
	font-family: Calibri;
	font-size: 17px;
	margin-left: 870px;
	margin-top: 1px;
	color:#3495DE;
}

#conn
{
	float: left;
	font-family: Calibri;
	font-size: 17px;
	margin-left: 20px;
	margin-top: 1px;
	color:#3495DE;
}

#champ       
{
	width:300px; 
	height:30px;
}

#bouton       
{ 
	background-image: url("Images/Menu/barreRecherche.png");
	background-position: center;
	box-shadow: none;
	width:50px; 
	height:33px;
}

#menu
{
	background-color: #3495DE;
	height: 35px;
}

#cat
{
	margin-left: 30px;
}

#admin, #ventesFlash, #vendre
{
	margin-left: 200px;
}

h1
{
	font-family: 'Great Vibes', cursive;
}

#titre
{
	margin-left:40%;
	font-size:50px;
	color: #3495DE;
}


#hauts
{
	float: left;
	height: 380px;
	width: 350px;
	border-width: 3px;
	border-color: black;
	border-style:solid;
	margin-left:200px;
	margin-right: 110px;
}

#hauts h1
{
	text-align: center;

	width:350px;
	color:#3495DE;
	background-color:black;
}

#column1
{
	float: left;
	width:140px;
	margin-left: 10px;
}

#ht1
{
	margin-left: 10px;
}

#column2
{
	width: 210px;
	margin-left:135px;
	margin-top:40px;
}

#bas
{
	float:left;
	height: 380px;
	width: 350px;
	border-width: 3px;
	border-color: black;
	border-style:solid;
	margin-left:20px;
	margin-right: 110px;
}

#bas h1
{
	text-align: center;
	width:350px;
	color:#3495DE;
	background-color:black;
}

#column3
{
	float: left;
	width:140px;
	margin-left: 10px;
}

#column4
{
	width: 210px;
	margin-left:215px;
	margin-top:50px;
}

#chaussures
{
	float:left;
	height: 380px;
	width: 350px;
	border-width: 3px;
	border-color: black;
	border-style:solid;
	margin-left:440px;
	margin-top:30px;
}

#chaussures h1
{
	text-align: center;
	width:350px;
	color:#3495DE;
	background-color:black;
}

#ht2
{
	margin-left:7px;
	margin-top:15px;
	margin-bottom:15px;
}

#column5
{
	float: left;
	width:140px;
	margin-left: 10px;
}

#column6
{
	width: 210px;
	margin-left:150px;
	margin-top:40px;
}

#footer
{
	margin-top:890px;
	background-color: black;
	color: #3495DE;
	height:200px;
}

p 
{
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
}

a
{
	color: #3495DE;
}

#col1, #col2, #col3, #col4
{	
	float: left;
	margin-right: 80px;
	margin-left: 80px;
	font-family: 'Yantramanav', sans-serif;
}

#ligne
{
	float: right;
	margin-left: 20px;
	font-size: 12pt;
	font-family: 'Yantramanav', sans-serif;
	margin-top: 110px;
}