#header
{
	padding: 5px;
	background-color: black;    
	color: white;
	height: 80px;
}

#logo 
{ 
	float: left;  
	margin-left:40px;
	margin-top:10px;
}

#barre
{
	float: left;
	margin-left:270px;
	margin-top:25px;
}

#logoPannier
{ 
	float: left; 
	margin-left: 300px;
	margin-top: 20px;
}

#logoCompte
{ 
	float: left; 
	margin-left: 10px;
	margin-top: 20px;
}

#champ       
{
	width:300px; 
	height:30px;
}

#bouton       
{ 
	background-image: url("Images/Menu/barreRecherche.png");
	background-position: center;
	box-shadow: none;
	width:50px; 
	height:33px;
}

#menu
{
	background-color: #3495DE;
	height: 35px;
}

#cat
{
	margin-left: 30px;
	margin-top: 5px;
}

#admin, #ventesFlash, #vendre
{
	margin-left: 200px;
	margin-top: 5px;
}

#compte
{
	margin-left:32%;
	background-color: #D3D3D3;
	width : 500px;
	height : 470px;
}


#compte h1
{
	padding-top: 10px;
	text-align : center;
	font-family: 'Great Vibes', cursive;
	font-size: 45pt;
}

#compte p
{
	text-align : center;
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
}


#compte h2
{
	margin-top: 70px;
	text-align : center;
	font-family: 'Yantramanav', sans-serif;
	font-size: 20pt;
}

#compte td
{
	padding-left: 65px;
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
}

#titre
{
	margin-left:40%;
	font-size:50px;
	color: #3495DE;
}


#titreVentesFlash
{
	margin-left: 500px;
	margin-top: 15px;
}

#footer
{
	margin-top:100px;
	background-color: black;
	color: #3495DE;
	height:200px;
}

p 
{
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
}

a
{
	color: #3495DE;
}

#col1, #col2, #col3, #col4
{	
	float: left;
	margin-right: 80px;
	margin-left: 80px;
	font-family: 'Yantramanav', sans-serif;
}

#ligne
{
	float: right;
	margin-left: 20px;
	font-size: 12pt;
	font-family: 'Yantramanav', sans-serif;
	margin-top: 110px;
}