#header
{
	padding: 5px;
	background-color: black;    
	color: white;
	height: 80px;
}

#logo 
{ 
	float: left;  
	margin-left:40px;
	margin-top:10px;
}


#titre_livr
{
   float: left;
	margin-left:570px;
	margin-top:25px;
    color: #3495DE;
	font-size:50px;
	font-family: 'Great Vibes', cursive;
}


#logopanier
{ 
	float: left; 
	margin-left: 1100px;
	margin-top: 20px;
}

#logoCompte
{ 
	float: left; 
	margin-left: 20px;
	margin-top: 20px;
}

#champ       
{
	width:300px; 
	height:30px;
}

#bouton       
{ 
	background-image: url("Images/Menu/barreRecherche.png");
	background-position: center;
	box-shadow: none;
	width:50px; 
	height:33px;
}

#menu
{
	background-color: #3495DE;
	height: 35px;
}

#cat
{
	margin-left: 30px;
	margin-top: 5px;
}

#admin, #ventesFlash, #vendre
{
	margin-left: 200px;
	margin-top: 5px;
}



#photo
{
	float: left;
	margin-left: 90px;
	margin-top: 30px;
}

#infosBase
{
	float: left;
	margin-left: 160px;
	margin-top: 10px;

}

#pay1
{
	float:left;
	margin-left: 40px;
	margin-top: 20px;
}

#c1, #c2, #c3
{
	margin-left:20px;
	margin-right: 20px;
}

#pay2
{
	float: left;
	margin-left: 70px;
	margin-top: 5px;
}

#modif
{
	float:left;
	padding-left:20px;
	margin-left: 600px;
	margin-top: 20px;
	width:400px;
	border-width: 3px;
	border-color: red;
	border-style:solid;
}

#contenu
{
	float: left;
}

#cray
{
	float: left;
	margin-left:70px;
	margin-top:12px;
}

.infos
{
	color:grey;
}

#footer
{
	margin-top:100px;
	background-color: black;
	color: #3495DE;
	height:200px;
}

p 
{
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
}

a
{
	color: #3495DE;
}

#col1, #col2, #col3, #col4
{	
	float: left;
	margin-right: 80px;
	margin-left: 80px;
	font-family: 'Yantramanav', sans-serif;
}

#ligne
{
	float: right;
	margin-left: 20px;
	font-size: 12pt;
	font-family: 'Yantramanav', sans-serif;
	margin-top: 110px;
}



#recap_commande
{
    margin-top: 80px;
    border-style: solid;
    border-width: 10px;
    border-color: #3495DE;
    float: left;
    height: 600px;
    margin-left:100px;
    width:300px;
    margin-right: 30px;
}

h1
{
    color: #3495DE;
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
    text-align: center;
    
}

#dom
{
    color: #3495DE;
    font-family: 'Yantramanav', sans-serif;
    font-size: 25px;
    
}

#mail
{
    font-family: 'Yantramanav', sans-serif;
    font-size: 25px;
    float : left;
}
