#compte
{
	background-color: #D3D3D3;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#column1, #column2, #column3
{
	margin: auto;
}

#compte h3
{
	font-family: 'Great Vibes', cursive;
	font-size: 19pt;
	margin-left: 20%;	

}

#compte h1
{
	padding-top: 10px;
	text-align : center;
	font-family: 'Great Vibes', cursive;
	font-size: 45pt;
}

#compte #cpt
{
	text-align : center;
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
}

#compte #message
{
	text-align : center;
	font-family: 'Yantramanav', sans-serif;
	font-size: 10pt;
}

#compte h2
{
	margin-top: 70px;
	text-align : center;
	font-family: 'Yantramanav', sans-serif;
	font-size: 20pt;
}

#compte td
{
	padding-left: 53px;
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
	margin-left: 900px;
}