#header
{
	padding: 5px;
	background-color: black;    
	color: white;
	height: 80px;
}

#logo 
{ 
	float: left;  
	margin-left:40px;
	margin-top:10px;
}

#barre
{
	float: left;
	margin-left:270px;
	margin-top:15px;
}

#logopanier
{ 
	float: left; 
	margin-left: 260px;
	margin-top: 13px;
}

#logoCompte ul li
{ 
	float: left; 
	margin-left: 1125px;
	margin-top: 1px;
	position: absolute;
	list-style: none;
}

#pann
{
	float: left;
	font-family: Calibri;
	font-size: 17px;
	margin-left: 870px;
	margin-top: 1px;
	color:#3495DE;
}

#conn
{
	float: left;
	font-family: Calibri;
	font-size: 17px;
	margin-left: 20px;
	margin-top: 1px;
	color:#3495DE;
}

#champ       
{
	width:300px; 
	height:30px;
}

#bouton       
{ 
	background-image: url("Images/Menu/barreRecherche.png");
	background-position: center;
	box-shadow: none;
	width:50px; 
	height:33px;
}

#menu
{
	background-color: #3495DE;
	height: 35px;
}

#cat
{
	margin-left: 30px;
}

#admin, #ventesFlash, #vendre
{
	margin-left: 200px;
}

h1
{
	font-family: 'Great Vibes', cursive;
}

#titre
{
	margin-left:40%;
	font-size:50px;
	color: #3495DE;
}

#carrousel 
{
	position: relative;
	height: 200px;
	width: 700px;
}

#carrousel ul li 
{
	position: absolute;
	top: 0px;
	left: 0px;
	list-style: none;
}

#titreVentesFlash
{
	margin-left: 500px;
	margin-top: 15px;
}

.prev 
{
	position:relative;
	float: left;
	top: 180px;
	left: 0px;
	background-color: #add080;
}

.next 
{
	position: relative;
	float: right;
	top: 180px;
	left: 560px;
	background-color: #add080;
}

#t1, #t2
{
	color:black;
	font-size:35px;
	float:left;
	margin-top:180px;
	margin-left:75px;
	margin-right: 70px;
}

#t3
{
	color:black;
	font-size:35px;
	float:left;
	margin-top:180px;
	margin-left:110px;
	margin-right: 70px;
}

#t4
{
	color:black;
	font-size:35px;
	float:left;
	margin-top:180px;
	margin-left:150px;
	margin-right: 70px;
}

#cat1, #cat2, #cat3, #cat4
{ 
	float:left;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	margin-left:40px;
	margin-right: 70px;
}

#footer
{
	margin-top:500px;
	background-color: black;
	color: #3495DE;
	height:200px;
}

p 
{
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
}

a
{
	color: #3495DE;
}

#col1, #col2, #col3, #col4
{	
	float: left;
	margin-right: 80px;
	margin-left: 80px;
	font-family: 'Yantramanav', sans-serif;
}

#ligne
{
	float: right;
	margin-left: 20px;
	font-size: 12pt;
	font-family: 'Yantramanav', sans-serif;
	margin-top: 110px;

}