#contain
{
	padding-bottom: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

#contain h2
{
	font-family: 'Yantramanav', sans-serif;
	font-size: 25pt;
}

.infos
{
	color:grey;
}

p
{
	margin-left: 440px;
}

#Visa
{
	float: left;
}


#CB
{
	float: left;
}


#MC
{
	float: left;
}



#recap_commande
{
    border-style: dotted;
    border-width: 10px;
    border-color: #3495DE;
    float: left;
    height: 600px;
    margin-left:300px;
    width:500px;

}

#form_paiement
{
    margin-left: 100px;
   	float: left;
   	font-family: 'Yantramanav', sans-serif;
	font-size: 15pt;
}


