
h1
{
	margin-left : 40%;
	color: #3495DE;
	font-size: 38pt;
}

#total
{
	float : right;

}

#total
{
	float : left;
	margin-left: 1200px;
	margin-top: 30px;
}

#contain
{
	overflow: hidden;
	margin-bottom: 30px;
    font-family: 'Yantramanav', sans-serif;
}

.infos3
{
	margin-top: 20px;
	margin-right: 100px;
}


#total
{
	float : left;
	margin-left: 1200px;
	margin-top: 30px;
}

#contain
{
	overflow: hidden;
	margin-bottom: 30px;
    font-family: 'Yantramanav', sans-serif;
}

.infos3
{
	margin-top: 20px;
	margin-right: 100px;
}

