#header
{
	padding: 5px;
	background-color: black;    
	color: white;
	height: 80px;
}

#logo 
{ 
	float: left;  
	margin-left:40px;
	margin-top:10px;
}

#barre h1
{
	font-family: 'Great Vibes', cursive;
	float: left;
	color: #3495DE;
	margin-left:27%;
	font-size:40px;
}

#logopanier
{ 
	float: left; 
	margin-left: 347px;
	margin-top: 13px;
}

#logoCompte ul li
{ 
	float: left; 
	margin-left: 1125px;
	margin-top: 1px;
	position: absolute;
	list-style: none;
}

#pann
{
	float: left;
	font-family: Calibri;
	font-size: 17px;
	margin-left: 330px;
	margin-top: 1px;
	color:#3495DE;
}

#conn
{
	float: left;
	font-family: Calibri;
	font-size: 17px;
	margin-left: 20px;
	margin-top: 1px;
	color:#3495DE;
}


#menu
{
	background-color: #3495DE;
	height: 35px;
}

#cat
{
	margin-left: 30px;
	margin-top: 5px;
}

h1
{
	font-family: 'Great Vibes', cursive;
}

#titre
{
	margin-left:40%;
	font-size:50px;
	color: #3495DE;
}

#cadre 
{
	margin-top: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	border : solid;
	border-color: #3495DE;
}

#infos
{
	float: left;
	margin-left: 160px;
	margin-top: 10px;
	margin-bottom: 30px
}

#photo1
{
	float: left;
	margin-top: 45px;
	margin-left: 100px;
	margin-bottom: 30px
}

#gauche
{
	float: left;
	width: 500px;
}

#droite
{
	float:left;
	margin-top:20px;
	margin-left:40px;
}

#infos1
{
	font-size:15px;
	text-align:justify;
}

#infos2
{
	font-size:18px;
	text-align:justify;
}

#footer
{
	margin-top:800px;
	background-color: black;
	color: #3495DE;
	height:200px;
}

p 
{
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
}

a
{
	color: #3495DE;
}

#col1, #col2, #col3, #col4
{	
	float: left;
	margin-right: 80px;
	margin-left: 80px;
	font-family: 'Yantramanav', sans-serif;
}

#ligne
{
	float: right;
	margin-left: 20px;
	font-size: 12pt;
	font-family: 'Yantramanav', sans-serif;
	margin-top: 110px;
}